{% extends 'base.html' %}
{% block title %}
Payment - Abdallah Supermarket
{% endblock title %}
{% block content %}
  <!-- Replace "test" with your own sandbox Business account app client ID -->

  <script src="https://www.paypal.com/sdk/js?client-id=AV85PZvr690miEKMhEKBEMek7-JTECg2wQDO8J_CaGuGmG-jt6fykkBeO6FqDrWPa9fSa3jdgRvyGver&currency=EUR"></script>

  <!-- Set up a container element for the button -->
 
  <div class="container col-6 mx-auto m-5">
    <div id="paypal-button-container"></div>
  </div>
  {% block scripts %}
  <script>
    paypal.Buttons(
        {
            // Sets up the transaction when a payment button is clicked
            createOrder: (data, actions) => {
              return actions.order.create({
                purchase_units: [{
                  amount: {
                    value: '{{order.get_raw_subtotal}}' // Can also reference a variable or functio
                  }
                }]
              });
            },
             // Finalize the transaction after payer approval
        onApprove: (data, actions) => {
            return actions.order.capture().then(function(orderData) {
              // Successful capture! For dev/demo purposes:
              console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
              const transaction = orderData.purchase_units[0].payments.captures[0];
              alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
  
              // When ready to go live, remove the alert and show a success message within this page. For example:
  
              // const element = document.getElementById('paypal-button-container');
  
              // element.innerHTML = '<h3>Thank you for your payment!</h3>';
  
              // Or go to another URL:  actions.redirect('thank_you.html');
  
            });
  
          }
        }
    ).render('#paypal-button-container');
  </script>
  {% endblock scripts %}
{% endblock content %}



