{% extends 'base.html' %}
{% block title %}
Payment - Douka Langou
{% endblock title %}
{% block content %}
  <!-- Replace "test" with your own sandbox Business account app client ID -->

  <style>
   
  </style>
  <script src="https://www.paypal.com/sdk/js?client-id=AV85PZvr690miEKMhEKBEMek7-JTECg2wQDO8J_CaGuGmG-jt6fykkBeO6FqDrWPa9fSa3jdgRvyGver&currency=EUR"></script>

  <!-- Set up a container element for the button -->
  <body>
    <div class="container">
      <div class=" p-2 container foot">
        <a href=" {% url 'product-list' %} " class="text-decoration-none text-dark">Accueil</a>
        <span>/</span>
        <a href=" {% url 'cart' %} " class="text-decoration-none text-dark">Cart</a>
        <span>/</span>
        <a href=" {% url 'checkout' %} " class="text-decoration-none text-dark">Checkout</a>
        <span>/</span>
        <strong class="">Paiement</strong>
      </div>
    <div class="mx-auto mt-4 col-6">
      <div class="rouge-bg p-2 mb-2 h4-responsive rounded-sm text-white text-center">Méthodes de paiement</div>
      <div class=" bg-white accent-1 shadow-lg p-3  mx-auto ">
        <div id="paypal-button-container"></div>
      </div>
    </div>
  </div>
  </body>
  {% block scripts %}
  <script>
    paypal.Buttons(
    {
        createOrder: (data, actions) => {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '{{order.get_raw_subtotal}}',
                    },
                    shipping: { // Adresse de livraison
                        name: {
                            full_name: '{{order.billing_address.user.lastname}} {{order.shipping_address.user.firstname}}',
                        },
                       
                    },
                    billing: { // Adresse de livraison
                        name: {
                            full_name: '{{order.billing_address.user.lastname}} {{order.shipping_address.user.firstname}}',
                        },
                       
                    },
                    
                }],
            });
        },
        onApprove: (data, actions) => {
            return actions.order.capture().then(function(orderData) {
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                const transaction = orderData.purchase_units[0].payments.captures[0];
                alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
            });
        }
    }
).render('#paypal-button-container');


  </script>
  {% endblock scripts %}
{% endblock content %}



