{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  Douka Langou - Connexion
{% endblock title %}
{% block content %}
    
    <div class="mx-auto col-lg-5 mt-2">
      <div class="card form-bg">
        <div class="card-header  card-block">
            <form action="" method="post" novalidate> 
              <h1 class="text-center text-uppercase text-white rounded-4 rouge p-2 h3-responsive mt-2 rounded-sm mb-4"><strong>Authentification</strong></h1>
              <hr>
                <div class="card-body">
                  {% csrf_token %}
                  <!-- Material input -->
                  {{form|crispy}}
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary mb-1 btn-block">
                        Se connecter
                    </button>
                    <div class="mb-3 mt-3 cl text-center">
                      <a  href="{% url 'register' %}" style="float:center;"> <i class="fas fa-user-lock"></i> Mot de passe oublié ? </a>
                    </div>
                    <hr>
                    <a class="btn btn-success btn-block" href="{% url 'register' %}">
                      Créer un compte
                    </a>
                </div>                
            </form>
        </div>
      </div>
    </div>
{% endblock content %}